<main>
    <div class="container-fluid">
        <h1 class="mt-4">Blog</h1>
     
        <div class="card mb-4">
            
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        
                        <tbody>
                              {{#each allblogs}}
                                  <tr>
                                    <td>{{this.name}}</td>
                                    <td>$ {{this.description}}</td>

                                    {{#if this.blog_img}}
                                   <td><img src="../blog_images/{{this.blog_img}}" style="width:150px;height:150px;border-radius:75px"/></td>
                                    {{else}}
                                    <td>NA</td>
                                    {{/if}}
                                   
                                    <td><a href="/admin/editblog/{{this.id}}">Edit</a>||<a href="/admin/deleteblog/{{this.id}}">Delete</a></td>
                                  </tr>
                              {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

